# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/**/*/node_modules
node_modules

# build
/**/*/build
/**/*/dist

# misc
.DS_Store
.env*
!.env.example

# debug
npm-debug.log*

.nyc_output
coverage

package-lock.json
yarn.lock

# codebuild
codebuild.env
codebuild_build.sh

.turbo

# editor
.idea
.vercel

.env

# Misc
.DS_Store
*.pem
