public-hoist-pattern[]=*prisma*
always-auth=true
@cybotrade:registry=https://npm.pkg.github.com/cybotrade/
//npm.pkg.github.com/:_authToken=$NPM_TOKEN
//npm.pkg.github.com/cybotrade/:_authToken=$NPM_TOKEN
registry=https://registry.npmjs.org