@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Neue Machina';
  font-weight: 300;
  src: url('/fonts/NeueMachina/NeueMachina-Light.otf') format('opentype');
}

@font-face {
  font-family: 'Neue Machina';
  src: url('/fonts/NeueMachina/NeueMachina-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Neue Machina';
  font-weight: 800;
  src: url('/fonts/NeueMachina/NeueMachina-Ultrabold.otf') format('opentype');
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  max-height: 100vh;
  overflow-x: hidden;
  @apply bg-background-light dark:bg-background-dark;
}

a {
  color: inherit;
  text-decoration: none;
}

*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  background-color: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #a6a6a6;
  border-radius: 10px;
}

.remove-all {
  all: unset;
}

.rs-drawer-wrapper {
  z-index: 20 !important;
}

.dashed-border {
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='10' ry='10' stroke='%23747474FF' stroke-width='3' stroke-dasharray='6%2c 14' stroke-dashoffset='5' stroke-linecap='square'/%3e%3c/svg%3e");
}